.mainApp {
  display: flex;
  flex-direction: column;
}
.mainAppChildren {
  display: flex;
  flex-direction: row;
}
.mainAppH1 {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  padding: 20px;
}
.mainAppA {
  color: cyan;
}
.countrybox {
  width: 100%;
  flex-direction: 'column';
  margin-bottom: 100px;
}

.country-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.timeperiod {
  display: flex;
  flex-direction: row;
}
.timeperiod-map {
}

.timeNParameter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* justify-content: flex-end; */
  align-items: center;
}
.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-left: 2rem;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  /* flex: 0.1; */
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  align-items: center;
  border: solid;
  border-color: #b0e7f5;
}

.addBtn:hover {
  scale: 1.2;
  background-color: black;
  color: #b0e7f5;
}

.dropdown {
  width: 100rem;
  /* border: solid; */
  /* border-color: #b0e7f5; */
}
.optionsFields-dropdown {
  /* position: absolute;
  top: 17.5rem;
  left: 89rem;
  width: 6rem; */
  scale: 0.8;
  border-radius: 5px;
  font-size: 16;
}

.addBtn:hover {
  cursor: pointer;
}
.addBtn:active {
  background-color: #b0e7f5;
}
.boxtopbar {
  background-color: black;
  color: white;
  margin-top: 2rem;
  padding: 0.7rem;
  padding-left: 3rem;
}

.boxaddchild {
  border-style: solid;
  border-color: cyan;
  /* color: white; */
  margin-top: 5rem;
  padding: 1rem;
  padding-left: 3rem;
}

.smallbox {
}
.sidebar {
  flex: 1;
  padding: 20px;
  width: 35%;
}

.map-container {
  flex: 1;
  margin-left: 40px;
  padding: 20px;
  padding-top: 30px;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.parameter-select {
  color: #2d93ad;
}
.parameter-select-map {
  margin-top: 0px;
  width: 20rem;
  color: yellow;
}
.parameter-select2 {
  color: #2d93ad;
}

.chart {
  margin: 1rem;
  height: 500px;
  padding: 0;
}

.myinput {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: medium;
  font-weight: 300;
  width: 5rem;
  margin-right: 1rem;
  color: rgb(10, 35, 150);
}
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.trashIcon:hover {
  scale: 1.2;
}
#tooltip-delete {
  background-color: red;
  width: 100px;
}

.navigationBox {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  position: absolute;
  width: 30px;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}
.navigationBoxBtns:hover {
  font-size: 30px;
  cursor: pointer;
}
#navigationBoxBtnsRotate {
  transform: rotate(90deg);
}
#navigationBoxBtnsRotateDown {
  transform: rotate(-90deg);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.yearMapDropDownContainer {
  /* width: 100%; */
  /* height: 100%; */

  /* padding: 10px; */
}
.yearDropDown {
  /* width: 100%; */
  /* padding: 10px; */
  /* font-size: medium; */
}

.countryBoxList:hover {
  background-color: rgb(34, 48, 241);
  color: white;
  transition: background-color 200ms ease-in 50ms;
  transition: color 100ms ease-in 10ms;
}

.graph-container {
  border: solid;
}

.width-100 {
  width: 100%;
}

.country-select-container {
  padding-top: 20px;
}

.legend-container {
  position: absolute;
  bottom: 30%;
  border: solid;
  border-color: cyan;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: +12;
}
.legend-header {
  font-weight: bold;
  text-align: center;
}

.mapParameterNYearDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 30px;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.nav-box-legend-map-div {
  border: solid;
  max-width: 720px;
  padding: 10px;
}
